/.idea
/five_layer_cnn/model_file
/five_layer_cnn/tensorboard/test4/hparam
/tensorboard_tst/mnistdata/*.gz
/picture_pre_process/output/*.jpg
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=1,1000/*.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=1,2000/*.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=1,5000/events.out.tfevents.1628329270.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=2,1000/events.out.tfevents.1628328666.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=2,2000/events.out.tfevents.1628328687.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=1,fc=2,5000/events.out.tfevents.1628328729.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=1,1000/events.out.tfevents.1628328848.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=1,2000/events.out.tfevents.1628328887.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=1,5000/events.out.tfevents.1628328967.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=2,1000/events.out.tfevents.1628328331.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=2,2000/events.out.tfevents.1628328373.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-02,conv=2,fc=2,5000/events.out.tfevents.1628328457.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=1,1000/events.out.tfevents.1628328020.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=1,2000/events.out.tfevents.1628328057.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=1,5000/events.out.tfevents.1628328135.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=2,1000/events.out.tfevents.1628327500.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=2,2000/events.out.tfevents.1628327524.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=1,fc=2,5000/events.out.tfevents.1628327575.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=1,1000/events.out.tfevents.1628327699.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=1,2000/events.out.tfevents.1628327739.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=1,5000/events.out.tfevents.1628327818.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=2,1000/events.out.tfevents.1628327162.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=2,2000/events.out.tfevents.1628327205.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-03,conv=2,fc=2,5000/events.out.tfevents.1628327290.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=1,1000/events.out.tfevents.1628326848.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=1,2000/events.out.tfevents.1628326885.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=1,5000/events.out.tfevents.1628326963.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=2,1000/events.out.tfevents.1628326330.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=2,2000/events.out.tfevents.1628326354.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=1,fc=2,5000/events.out.tfevents.1628326404.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=1,1000/events.out.tfevents.1628326529.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=1,2000/events.out.tfevents.1628326569.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=1,5000/events.out.tfevents.1628326649.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=2,1000/events.out.tfevents.1628325988.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=2,2000/events.out.tfevents.1628326032.DESKTOP-FI3E602
/tensorboard_tst/tensorboard/test4/lr_1E-04,conv=2,fc=2,5000/events.out.tfevents.1628326117.DESKTOP-FI3E602
